@page

@using Domain
@using GameBrain
@model WebApp.Pages.GamePlay.Index

@functions
{
    string GetCellContent(CellState cell)
    {
        var res = "&nbsp;";
        switch (cell)
        {
            case CellState.Empty :
                res = "🌊";
                break;
            case CellState.Hit :
                res = "🔥";
                break;
            case CellState.Miss :
                res = "💣";
                break;
            case CellState.Ship :
                res = "⚓";
                break;
        }
        return res;
    }

    string GetCurPlayer()
    {
        if (Model.Battleships.NextMoveByP1)
        {
            return Model.Game.PlayerA.Name;
        }
        return Model.Game.PlayerB.Name;
    }
    char GetLetter(int x)
    {
        string alpha = "0ABCDEFGHIJKLMNOPQRSTUVWXYZÕÄÖÜ";
        return alpha[x];
    }

    
}

@if (Model.Winner != null)
{
    <a>Player @Model.Winner has won!</a>
    <a href="/">Return to homepage!</a>
}else if(Model.SwitchPlayer){
    <a>The shot missed!</a>
    <a href="?id=@Model.Game.GameId">Switch to player @GetCurPlayer()!</a>
}
else
{
    @if (Model.Battleships.NextMoveByP1)
    {
        <div class="text-center">
            <h1 class="display-8">@Model.Game.PlayerA.Name's turn</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-8">@Model.Game.PlayerB.Name's turn</h1>
        </div>
    }
    <div class="row">
    
    

        <div class="text-center">


            @Model.Game.PlayerA.Name's board
            
            <table class="table table-bordered" name="P1board">
                @for (int y = 0; y < Battleships.s + 1; y++)
                {
                    <tr>
                        @for (int x = 0; x < Battleships.s + 1; x++)
                        {
                            if (x == 0)
                            {
                                <td>@GetLetter(@y)</td>
                            }else if (y == 0)
                            {
                                <td>@x</td>
                            }else if (!Model.Battleships.NextMoveByP1 && Model.Battleships.GetCell(x - 1, y - 1, true) == CellState.Ship)
                            {
                                <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer" >🌊</td>
                            }
                            else
                            {
                                if (Model.Battleships.NextMoveByP1)
                                {
                                    <td>@Html.Raw(GetCellContent(Model.Battleships.GetCell(x - 1, y - 1, true)))</td>
                                }
                                else
                                {
                                    <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x - 1, y - 1, true)))</td>
                                }
                            }

                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-1"></div>
        
        <div class="text-center">

            @Model.Game.PlayerB.Name's board
            
            <table class="table table-bordered" name="P2board">
                @for (int y = 0; y < Battleships.s + 1; y++)
                {
                    <tr>
                        @for (int x = 0; x < Battleships.s + 1; x++)
                        {
                            if (x == 0)
                            {
                                <td>@GetLetter(@y)</td>
                            }else if (y == 0)
                            {
                                <td>@x</td>
                            }else if (Model.Battleships.NextMoveByP1 && Model.Battleships.GetCell(x - 1, y - 1, false) == CellState.Ship)
                            {
                                <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">🌊</td>
                            }
                            else
                            {
                                if (!Model.Battleships.NextMoveByP1)
                                {
                                    <td>@Html.Raw(GetCellContent(Model.Battleships.GetCell(x - 1, y - 1, false)))</td>
                                }
                                else
                                {
                                    <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x - 1, y - 1, false)))</td>
                                }

                            }
                        }
                    </tr>
                }
            </table>
        </div>
        

    </div>
    <a>⚓ = my ships</a>
    <a>🔥 = hit</a>
    <a>💣 = missed shot</a>
}


