@page

@using Domain
@using GameBrain
@model WebApp.Pages.GamePlay.Index

@functions
{
    string GetCellContent(CellState cell)
    {
        var res = "&nbsp;";
        switch (cell)
        {
            case CellState.Empty :
                res = "&nbsp;";
                break;
            case CellState.Hit :
                res = "H";
                break;
            case CellState.Miss :
                res = "M";
                break;
            case CellState.Ship :
                res = "O";
                break;
        }
        return res;
    }
}

<div class="row" style="float:left">
    
    <div class="col-8 text-center">
        
        
        @Model.Game.PlayerA.Name's board

        
        <table class="table table-bordered" name="P1board">
            @for (int y = 0; y < Battleships.s; y++)
            {
                <tr>
                    @for (int x = 0; x < Battleships.s; x++)
                    {
                        if (!Model.Battleships.NextMoveByP1 && Model.Battleships.GetCell(x, y, true) == CellState.Ship)
                        {
                            <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">&nbsp;</td>
                        }
                        else
                        {
                            if (Model.Battleships.NextMoveByP1)
                            {
                                <td>@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, true)))</td>
                            }
                            else
                            {
                                <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, true)))</td>
                            }
                        }
                        
                    }
                </tr>
            }
        </table>
    </div>
   
</div>

<div class="row" style="float:right">
    
    <div class="col-8 text-center">
        
        @Model.Game.PlayerB.Name's board
            
        
        <table class="table table-bordered" name="P2board">
            @for (int y = 0; y < Battleships.s; y++)
            {
                <tr>
                    @for (int x = 0; x < Battleships.s; x++)
                    {
                        if (Model.Battleships.NextMoveByP1 && Model.Battleships.GetCell(x, y, false) == CellState.Ship)
                        {
                            <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">&nbsp;</td>
                        }
                        else
                        {
                            if (!Model.Battleships.NextMoveByP1)
                            {
                                <td>@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, false)))</td>
                            }
                            else
                            {
                                <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, false)))</td>
                            }

                        }


                    }
                </tr>
            }
        </table>
    </div>
   
</div>



