@page

@using Domain
@using GameBrain
@model WebApp.Pages.GamePlay.Index

@functions
{
    string GetCellContent(CellState cell)
    {
        var res = "&nbsp;";
        switch (cell)
        {
            case CellState.Empty :
                res = "🌊";
                break;
            case CellState.Hit :
                res = "🔥";
                break;
            case CellState.Miss :
                res = "💣";
                break;
            case CellState.Ship :
                res = "⚓";
                break;
        }
        return res;
    }

    
}

@if (Model.Winner != null)
{
    <a>Player @Model.Winner has won!</a>
    <a href="/">Return to homepage!</a>
}
else
{
    <div class="row" style="float:left">
    
    

    <div class="col-4 text-center">


        @Model.Game.PlayerA.Name's board


        <table class="table table-bordered" name="P1board">
            @for (int y = 0; y < Battleships.s; y++)
            {
                <tr>
                    @for (int x = 0; x < Battleships.s; x++)
                    {
                        if (!Model.Battleships.NextMoveByP1 && Model.Battleships.GetCell(x, y, true) == CellState.Ship)
                        {
                            <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer" >🌊</td>
                        }
                        else
                        {
                            if (Model.Battleships.NextMoveByP1)
                            {
                                <td>@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, true)))</td>
                            }
                            else
                            {
                                <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, true)))</td>
                            }
                        }

                    }
                </tr>
            }
        </table>
    </div>
    <div class="col-4 text-center">
        @if (Model.Battleships.NextMoveByP1)
        {
            <a>@Model.Game.PlayerA.Name's turn!</a>
        }
        else
        {
            <a>@Model.Game.PlayerB.Name's turn!</a>
        }
    </div>
    <div class="col-4 text-center">

        @Model.Game.PlayerB.Name's board


        <table class="table table-bordered" name="P2board">
            @for (int y = 0; y < Battleships.s; y++)
            {
                <tr>
                    @for (int x = 0; x < Battleships.s; x++)
                    {
                        if (Model.Battleships.NextMoveByP1 && Model.Battleships.GetCell(x, y, false) == CellState.Ship)
                        {
                            <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">🌊</td>
                        }
                        else
                        {
                            if (!Model.Battleships.NextMoveByP1)
                            {
                                <td>@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, false)))</td>
                            }
                            else
                            {
                                <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, false)))</td>
                            }

                        }
                    }
                </tr>
            }
        </table>
    </div>

</div>
}


