@page

@using Domain
@using GameBrain
@model WebApp.Pages.GamePlay.P1PlaceShips

@functions
{
    string GetCellContent(CellState cell, int? x, int? y, int? posX, int? posY, int? shipLength, bool? horiz)
    {
        var res = "";
        switch (cell)
        {
            case CellState.Empty :
                res = "🌊";
                break;
            case CellState.Hit :
                res = "🔥";
                break;
            case CellState.Miss :
                res = "💣";
                break;
            case CellState.Ship :
                res = "⚓";
                break;
        }
        if (res == "🌊" && x == posX && y == posY)
        {
            res = "🏴‍☠";
        }
        if (horiz == true && res == "🌊" && posX < x && x < posX + shipLength && y == posY)
        {
            res = "🏴‍☠";
        }
        if (horiz == false && res == "🌊" && x == posX && posY < y && y < posY + shipLength)
        {
            res = "🏴‍☠";
        }
        
        return res;
    }
    int GetShipSize()
    {
        int curShip = 0;
        if (Model.Carrier != 0)
        {
            curShip = 5;
        }else if (Model.Carrier == 0 && Model.Battleshipp != 0)
        {
            curShip = 4;
        }else if (Model.Carrier == 0 && Model.Battleshipp == 0 && Model.Submarine != 0)
        {
            curShip = 3;
        }else if (Model.Carrier == 0 && Model.Battleshipp == 0 && Model.Submarine == 0 && Model.Cruiser != 0)
        {
            curShip = 2;
        }else if (Model.Carrier == 0 && Model.Battleshipp != 0 && Model.Submarine == 0 && Model.Cruiser == 0 && Model.Patrol != 0)
        {
            curShip = 1;
        }
        
        return curShip;
    }
    
}

<div class="row">
    
    <div>
                <table>
                    <tr>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="up-left" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">↖️</a></td>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="up" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">⬆️</a></td>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="up-right" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">↗️</a>️</td>
                    </tr>
                    <tr>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="left" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">⬅️</a>️</td>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="rotate" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">🔄</a>️</td>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="right" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">➡️</a>️</td>
        
                    </tr>
                    <tr>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="down-left" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">↙️</a>️</td>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="down" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">⬇️</a>️</td>
                        <td><a asp-route-id="@Model.Game.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-horiz="@Model.Horizontal" asp-route-dir="down-right" asp-route-canTouch="@Model.CanTouch" asp-route-carriers="@Model.Carrier" asp-route-battleships="@Model.Battleshipp" asp-route-submarines="@Model.Submarine" asp-route-cruisers="@Model.Cruiser" asp-route-patrols="@Model.Patrol" asp-route-ogcarriers="@Model.OGCarrier" asp-route-ogbattleships="@Model.OGBattleshipp" asp-route-ogsubmarines="@Model.OGSubmarine" asp-route-ogcruisers="@Model.OGCruiser" asp-route-ogpatrols="@Model.OGPatrol">↘️</a>️</td>
                    </tr>
                    <tr>
                        @if (Model.Carrier == 0 && Model.Battleshipp == 0 && Model.Submarine == 0 && Model.Cruiser == 0 && Model.Patrol == 0)
                        {
                            <form method="post">
                                
                                <input asp-for="OGCarrier" type="hidden" value="@Model.OGCarrier">
                                        
                                <input asp-for="OGBattleshipp" type="hidden" value="@Model.OGBattleshipp">
                                       
                                <input asp-for="OGSubmarine" type="hidden" value="@Model.OGSubmarine">
                                        
                                <input asp-for="OGCruiser" type="hidden" value="@Model.OGCruiser">
                                       
                                <input asp-for="OGPatrol" type="hidden" value="@Model.OGPatrol">
                                        
                                <input asp-for="CanTouch" type="hidden" value="@Model.CanTouch">
                                        
                                <button type="submit" class="btn badge-primary">Confirm</button>
                            </form>
                        }
                        else
                        {
                            <td onclick="window.location.href = '?x=@Model.PosX&y=@Model.PosY&id=@Model.Game.GameId&canTouch=@Model.CanTouch&horiz=@Model.Horizontal&carriers=@Model.Carrier&battleships=@Model.Battleshipp&submarines=@Model.Submarine&cruisers=@Model.Cruiser&patrols=@Model.Patrol&ogcarriers=@Model.OGCarrier&ogbattleships=@Model.OGBattleshipp&ogsubmarines=@Model.OGSubmarine&ogcruisers=@Model.OGCruiser&ogpatrols=@Model.OGPatrol'" style="cursor: pointer">🆗️</td>
                        }
                        
                    </tr>
                </table>
    </div>

    <div class="col-4 text-center">


        @Model.Game.PlayerA.Name's board


        <table class="table table-bordered" name="P1board">
            @for (int y = 0; y < Battleships.s; y++)
            {
                <tr>
                    @for (int x = 0; x < Battleships.s; x++)
                    {
                        <td onclick="window.location.href = '?x=@x&y=@y&id=@Model.Game.GameId'" style="cursor: pointer">@Html.Raw(GetCellContent(Model.Battleships.GetCell(x, y, true), x, y, Model.PosX, Model.PosY, GetShipSize(), Model.Horizontal))</td>
                    }
                </tr>
            }
        </table>
    </div>
    
    


</div>




